{# @file paragraph--text-block.html.twig #}
<div{{ attributes.addClass('paragraph', 'paragraph--text-block', 'py-10') }}>
  <div class="max-w-prose mx-auto prose prose-neutral prose-headings:font-sans prose-a:text-accent-400">
    {{ content.field_body }}
  </div>
</div>
