{# @file paragraph--rooms-block.html.twig #}
<section{{ attributes.addClass('paragraph', 'paragraph--rooms-block',
  'py-14', 'bg-primary-600', 'text-white') }}>
  <div class="max-w-content mx-auto px-6">

    {% if content.field_rooms_title|render|striptags|trim %}
    <h2 class="text-center font-bold uppercase tracking-widest text-2xl mb-10">
      {{ content.field_rooms_title }}
    </h2>
    {% endif %}

    <div class="grid sm:grid-cols-3 gap-8">
      {{ content.field_rooms }}
    </div>

  </div>
</section>
